body{
  background:#222 url(OH71GW01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.logo{
  width: 80px;
  height: 80px;
  position: absolute;
  padding: 20px;
}
.home{
  width: 100vw;
  height: 100vh;
}
.res-list{
  margin: auto;
  margin-top: -150px;
  z-index: 1000000;
  max-width: 900px;
}
ul li{
  margin-top: 20px;
}
.title{
  text-align: center;
  color: #d1172f;
  padding-top: 170px;
  padding-bottom: 20px;
}
.desc{
  font-size: 30px;
}
.title-text{
  font-size: 100px;
}
@media all and (max-width:480px) and (min-width:320px) {
  .title-text{
    font-size: 75px;
  }
}
