<!DOCTYPE html>
<html ng-app="foodie" ng-controller="restdet">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <title>{{restaurant.name}}</title>
    <link rel="shortcut icon" type="image/png" href="F.png"/>
    <link rel="stylesheet" type="text/css" href="res.css"/>
  </head>
  <body class="container" >
    <div class="logo">
      <a href="index.html"><img width=80 height=80 src="F.png"/></a>
    </div>
    <div class="header" style="background: #d1172f url('{{restaurant.featured_image}}') no-repeat fixed; background-size: cover; ">
      <div class="media heading">
        <img class="d-flex mr-3" src="{{restaurant.thumb}}" width=100 height=100 alt="{{restaurant.name}}">
        <div class="media-body">
          <div class="mt-0 res-nam">{{restaurant.name}}</div>
        </div>
      </div>
    </div>
    <div class="add"><h3> Rating:</h3> <span style="color: #{{restaurant.user_rating.rating_color}}"> {{restaurant.user_rating.aggregate_rating}} &nbsp; {{restaurant.user_rating.rating_text}}</div>
    <div class="add" >
      <h3>Address:</h3>
      <span>  {{restaurant.location.address}}</span>
    </div>
    <div class="add"><h3> Cost:</h3> <span style="color:#600" >&#8377; {{restaurant.average_cost_for_two}} <span style="color:#111;">for two persons approx.</span></span></div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add Review</button>
    <div ng-hide="hiderew" >
      <h3 class="add" > Reviews:</h3>
      <div class="review" ng-repeat="k in reviews">
        <h4> {{k.name}}:</h4>
        <p><span> Rated: {{k.rate}}</span></p>
        <p> {{k.comment}} </p>
      </div>
    </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="inlineRadioOptions" class="form-control-label">Rating:</label><br/>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" ng-model="myVar" name="inlineRadioOptions" id="inlineRadio1" value="1"> 1
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" ng-model="myVar" name="inlineRadioOptions" id="inlineRadio2" value="2"> 2
                    </label>
                  </div>
                  <div class="form-check form-check-inline disabled">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" ng-model="myVar" name="inlineRadioOptions" id="inlineRadio3" value="3"> 3
                    </label>
                  </div>
                  <div class="form-check form-check-inline disabled">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" ng-model="myVar" name="inlineRadioOptions" id="inlineRadio4" value="4"> 4
                    </label>
                  </div>
                  <div class="form-check form-check-inline disabled">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" ng-model="myVar" name="inlineRadioOptions" id="inlineRadio5" value="5"> 5
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="user-name" class="form-control-label"> Name:</label>
                  <input type="text" ng-model="name" class="form-control" id="user-name">
                </div>
                <div class="form-group">
                  <label for="comment-text" class="form-control-label">Comment:</label>
                  <textarea class="form-control" ng-model="comment" id="comment-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" ng-click="addReview()" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    <script>
    var app = angular.module('foodie', []);
    app.config(function($sceDelegateProvider, $locationProvider) {
      // $locationProvider.html5Mode(true);
      $sceDelegateProvider.resourceUrlWhitelist([
          'https://developers.zomato.com/**'
      ]);
    });
    app.controller('restdet', function($scope, $location, $http) {
          var url = $location.absUrl();
          var restid = url.split('=');
          $scope.hiderew= true;
          $scope.reviews=[];
          $scope.resid = restid[1];
          $http.get("https://developers.zomato.com/api/v2.1/restaurant?apikey=af8a8d3e3b13ae5bed2046ba9efc02a7&res_id="+$scope.resid)
          .then(function(response) {
              $scope.restaurant = response.data;
          },function(response){
            $scope.restuarant ="no data";
          });
          $scope.addReview = function(){
            $('.modal').modal('toggle');
            $scope.hiderew=false;
            var review = new Object();
            review.name = $scope.name;
            review.rate = $scope.myVar;
            review.comment = $scope.comment;
            $scope.reviews.push(review);
            $scope.name = "";
            $scope.myVar = "";
            $scope.comment = "";
          }

    });
    </script>
  </body>
</html>
